blinker
brotli
cryptography
Cython
dataclasses
docutils
flask_sqlalchemy
greenlet
importlib_metadata
keyring
libmc
lockfile
lxml
numpy
ordereddict
pretty
protobuf
pylibmc
pymongo
pyOpenSSL
python-dotenv
python_memcached
simplejson
typing_extensions
watchdog
wincertstore
zipp
Flask==1.1.2
Werkzeug==1.0.1
Flask_Session==0.3.2
gunicorn==20.1.0