{% extends "layout.html" %}

{% block title %}
    Enter Cube
{% endblock %}

{% block main %}

    <h1>Create a cube:</h1>

    <p>Please use the grid below to enter the colours of your cube.</p>
    <p>If you actually would prefer to play around with the website without entering an actual cube, you can use either of the following two buttons.  Otherwise if you want to solve an actual real-life cube, please enter it in the Manual Entry section below.</p>
    <h2>Random Cube Generation:</h2>

    <div class="text_and_button_grid"><div><p>Push this button to generate a random solvable rubik's cube (in order to test the website!).  This will take a solved cube, then perform a random selection of moves on the cube:</p></div>
    <div><a href=random_cube><button class="btn btn-primary" onclick="loading_on()" type="button">Random Solvable Cube</button></a></div>
    <div><p>Push this button to randomly fill the rubik's cube with colours that are likely to be invalid (to test the input validation and cube amendment):</p></div>
    <div><a href=random_squares><button class="btn btn-primary" onclick="loading_on()" type="button">Random Unsolvable Cube</button></a></div></div>

    <h2>Manual Entry (for an actual cube):</h2>


    <form action="/enter" method="post">


        <button class="btn btn-primary" type="submit" name="save" value="save">Save & Check Your Cube</button>


        <div class="enter-cube-layout">

        <!-- Top left blank space -->
        <div class="enter-cube-blank-face"></div>

        <!-- Back (green centre) face -->
        <div class="enter-cube-face">
                {% for square in squares[0:9] %}
                {% if loop.index == 5 %}
                    <select id={{ square }} name={{ square }} class="green enter-cube-square">
                        <option selected class="green" value="green">Green</option>
                    </select>
                {% else %}
                    <select id={{ square }} name={{ square }} onchange="this.className=this.options[this.selectedIndex].className" class="grey enter-cube-square" required>
                        <option disabled selected value="">-</option>
                        <option class="red" value="red">Red</option>
                        <option class="green" value="green">Green</option>
                        <option class="blue" value="blue">Blue</option>
                        <option class="orange" value="orange">Orange</option>
                        <option class="yellow" value="yellow">Yellow</option>
                        <option class="white" value="white">White</option>
                    </select>
                {% endif %}
                {% endfor %}

        </div>

        <!-- Top right blank space -->
        <div class="enter-cube-blank-face"></div>

        <!-- Left (orange centre) face: -->
        <div class="enter-cube-face">
            {% for square in squares[9:18] %}
            {% if loop.index == 5 %}
                <select id={{ square }} name={{ square }} class="orange enter-cube-square">
                    <option selected class="orange" value="orange">Orange</option>
                </select>
            {% else %}
                <select id={{ square }} name={{ square }} onchange="this.className=this.options[this.selectedIndex].className" class="grey enter-cube-square" required>
                    <option disabled selected value="">-</option>
                    <option class="red" value="red">Red</option>
                    <option class="green" value="green">Green</option>
                    <option class="blue" value="blue">Blue</option>
                    <option class="orange" value="orange">Orange</option>
                    <option class="yellow" value="yellow">Yellow</option>
                    <option class="white" value="white">White</option>
                </select>
            {% endif %}
            {% endfor %}
        </div>

        <!-- Top (Yellow centre) face: -->
        <div class="enter-cube-face">
            {% for square in squares[18:27] %}
            {% if loop.index == 5 %}
                <select id={{ square }} name={{ square }} class="yellow enter-cube-square">
                    <option selected class="yellow" value="yellow">Yellow</option>
                </select>
            {% else %}
                <select id={{ square }} name={{ square }} onchange="this.className=this.options[this.selectedIndex].className" class="grey enter-cube-square" required>
                    <option disabled selected value="">-</option>
                    <option class="red" value="red">Red</option>
                    <option class="green" value="green">Green</option>
                    <option class="blue" value="blue">Blue</option>
                    <option class="orange" value="orange">Orange</option>
                    <option class="yellow" value="yellow">Yellow</option>
                    <option class="white" value="white">White</option>
                </select>
            {% endif %}
            {% endfor %}
        </div>

        <!-- Right (red centre) face: -->
        <div class="enter-cube-face">
            {% for square in squares[27:36] %}
            {% if loop.index == 5 %}
                <select id={{ square }} name={{ square }} class="red enter-cube-square">
                    <option selected class="red" value="red">Red</option>
                </select>
            {% else %}
                <select id={{ square }} name={{ square }} onchange="this.className=this.options[this.selectedIndex].className" class="grey enter-cube-square" required>
                    <option disabled selected value="">-</option>
                    <option class="red" value="red">Red</option>
                    <option class="green" value="green">Green</option>
                    <option class="blue" value="blue">Blue</option>
                    <option class="orange" value="orange">Orange</option>
                    <option class="yellow" value="yellow">Yellow</option>
                    <option class="white" value="white">White</option>
                </select>
            {% endif %}
            {% endfor %}
        </div>

         <!-- Middle left blank space -->
        <div class="enter-cube-blank-face"></div>

        <!-- Front (blue centre) face: -->
        <div class="enter-cube-face">
            {% for square in squares[36:45] %}
            {% if loop.index == 5 %}
                <select id={{ square }} name={{ square }} class="blue enter-cube-square">
                    <option selected class="blue" value="blue">Blue</option>
                </select>
            {% else %}
                <select id={{ square }} name={{ square }} onchange="this.className=this.options[this.selectedIndex].className" class="grey enter-cube-square" required>
                    <option disabled selected value="">-</option>
                    <option class="red" value="red">Red</option>
                    <option class="green" value="green">Green</option>
                    <option class="blue" value="blue">Blue</option>
                    <option class="orange" value="orange">Orange</option>
                    <option class="yellow" value="yellow">Yellow</option>
                    <option class="white" value="white">White</option>
                </select>
            {% endif %}
            {% endfor %}
        </div>

         <!-- Middle right blank space -->
        <div class="enter-cube-blank-face"></div>

        <!-- Bottom left blank space -->
        <div class="enter-cube-blank-face"></div>

        <!-- Bottom (white centre) face: -->
        <div class="enter-cube-face">
            {% for square in squares[45:54] %}
            {% if loop.index == 5 %}
                <select id={{ square }} name={{ square }} class="white enter-cube-square">
                    <option selected class="white" value="white">White</option>
                </select>
            {% else %}
                <select id={{ square }} name={{ square }} onchange="this.className=this.options[this.selectedIndex].className" class="grey enter-cube-square" required>
                    <option disabled selected value="">-</option>
                    <option class="red" value="red">Red</option>
                    <option class="green" value="green">Green</option>
                    <option class="blue" value="blue">Blue</option>
                    <option class="orange" value="orange">Orange</option>
                    <option class="yellow" value="yellow">Yellow</option>
                    <option class="white" value="white">White</option>
                </select>
            {% endif %}
            {% endfor %}
        </div>

        <!-- Bottom right blank space -->
        <div class="enter-cube-blank-face"></div>


        </div>


        <button class="btn btn-primary" type="submit" name="save" value="save">Save & Check Your Cube</button>
        </form>

{% endblock %}
