{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div class="container">
        <h1>Welcome</h1>
        <p class = "lead">This site will help you solve your Rubiks cube!</p>
        <div class="row">
            <div class="col">
                <p>This site was built for the final project of <a href="https://cs50.harvard.edu/x/2021/" target="_blank">CS50x</a>.</p>
                <p>This site will help you solve a Rubiks cube.  After entering your current cube configuration, the site will calculate what your next moves should be, all the way through to solving the cube!</p>
                <p>There are different ways to solve a Rubiks cube, the manual method on this site uses an 8-step method as described in the adjacent video from Wired.  If you want to understand why each move is being made, or learn to solve a cube without this site, this video will explain.  If you just want to get cracking, no need to watch the video!</p>
            </div>
            <div class="col"><iframe width="560" height="315" src="https://www.youtube.com/embed/R-R0KrXvWbc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        </br>
        <div class="row">
            <div class="col">
                <h2>Register</h2>
                <p>If you do not already have an account, click Register to create an account and use this site to solve your cube:</p>
                <a href="/register" class="btn btn-primary">Register</a>

            </div>
            <div class="col">
                <h2>Login</h2>
                <p>If you have an account, login below:</p>
                <form action="/login" method="post">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="password" placeholder="Password" type="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Log In</button>
                </form>
            </div>
        </div>




    </div>


{% endblock %}
