{% extends "layout.html" %}

{% block title %}
    Solve
{% endblock %}

{% block main %}


    <h2>Solve your cube</h2>
    <p>You are currently solving Cube ID {{ session["current_cube_id"] }}.</p>
    <p>You are currently at <b>Stage {{ progress }} of 8</b>, the moves below will solve the <b>{{ stage_name }}</b>.</p>
    <div class="progress" style="height: 20px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ ((progress / 8) * 100) | int}}%" aria-valuenow="{{ ((progress / 8) * 100) | int}}" aria-valuemin="0" aria-valuemax="100">{{ ((progress / 8) * 100) | int}}%</div>
    </div>
    </br>
    <div class="card-deck">
        <div class="card cube-card">
            <div class="card-header">
                <h5 style="text-align: center;">Cube <b>Before</b> Moves Made</h5>
            </div>
            <div class="card-body">
                <div class="view-cube-layout">
                    <!-- Top left blank space -->
                    <div class="view-cube-blank-face"></div>
                    <!-- Back (green centre) face -->
                    <div class="view-cube-face">
                            {% for square in squares[0:9] %}
                                <div id={{ square }} name={{ square }} class="{{ cube[square] }} view-cube-square">{{ cube[square][:1] }}</div>
                            {% endfor %}
                    </div>
                    <!-- Top right blank space -->
                    <div class="view-cube-blank-face"></div>
                    <!-- Left (orange centre) face: -->
                    <div class="view-cube-face">
                        {% for square in squares[9:18] %}
                                <div id={{ square }} name={{ square }} class="{{ cube[square] }} view-cube-square">{{ cube[square][:1] }}</div>
                        {% endfor %}
                    </div>
                    <!-- Top (Yellow centre) face: -->
                    <div class="view-cube-face">
                        {% for square in squares[18:27] %}
                                <div id={{ square }} name={{ square }} class="{{ cube[square] }} view-cube-square">{{ cube[square][:1] }}</div>
                        {% endfor %}
                    </div>
                    <!-- Right (red centre) face: -->
                    <div class="view-cube-face">
                        {% for square in squares[27:36] %}
                                <div id={{ square }} name={{ square }} class="{{ cube[square] }} view-cube-square">{{ cube[square][:1] }}</div>
                        {% endfor %}
                    </div>
                     <!-- Middle left blank space -->
                    <div class="view-cube-blank-face"></div>
                    <!-- Front (blue centre) face: -->
                    <div class="view-cube-face">
                        {% for square in squares[36:45] %}
                                <div id={{ square }} name={{ square }} class="{{ cube[square] }} view-cube-square">{{ cube[square][:1] }}</div>
                        {% endfor %}
                    </div>
                     <!-- Middle right blank space -->
                    <div class="view-cube-blank-face"></div>

                    <!-- Bottom left blank space -->
                    <div class="view-cube-blank-face"></div>
                    <!-- Bottom (white centre) face: -->
                    <div class="view-cube-face">
                        {% for square in squares[45:54] %}
                                <div id={{ square }} name={{ square }} class="{{ cube[square] }} view-cube-square">{{ cube[square][:1] }}</div>
                        {% endfor %}
                    </div>
                    <!-- Bottom right blank space -->
                    <div class="view-cube-blank-face"></div>
                </div>
            </div>
        </div>
        <div class="card moves-card">
            <div class="card-header">
                <h5 style="text-align: center;">Moves Required</h5>
                <h6 style="text-align: center;"><i>Hold the cube so the yellow centre square is up, and the blue centre square towards you.</i></h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                {% set characters_per_row = 5 %}
                {% set rows = ((next_actions_list| length) / characters_per_row) | int %}
                {% set final_row_characters = (next_actions_list | length) % characters_per_row %}
                {% if final_row_characters > 0 %}
                    {% set rows = rows + 1 %}
                {% endif %}
                {% for row in range(rows) %}
                    {% set starting_character = row * characters_per_row %}
                    {{ row + 1 }}:
                    {% for action in next_actions_list[starting_character:(starting_character + characters_per_row)] %}
                        {{ action }}
                    {% endfor %}
                    </br>
                {% endfor %}
                </p>
            </div>
            <div class="card-footer">
                <div class="accordion" id="notation_accordian">
                    <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-primary centre" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Cube Notation Legend &#2193
                        </button>
                    </h5>
                    </div>
                    <div id="collapseOne" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#notation_accordian">
                    <ul class="no-bullet-list" style="font-size: 15px;">
                        <li><i>Clockwise/Anti-clockwise applies as if you were looking at the face to be moved.</i></li>
                        <li>U = upper face (yellow) clockwise.</li>
                        <li>U' = upper face (yellow) anti-clockwise.</li>
                        <li>F = front face (blue) clockwise.</li>
                        <li>F' = front face (blue) anti-clockwise.</li>
                        <li>R = right face (red) clockwise.</li>
                        <li>R' = right face (red) anti-clockwise.</li>
                        <li>L = left face (orange) clockwise.</li>
                        <li>L' = left face (orange) anti-clockwise.</li>
                        <li>B = back face (green) clockwise.</li>
                        <li>B' = back face (green) anti-clockwise.</li>
                        <li>D = down face (white) clockwise.</li>
                        <li>D' = down face (white) anti-clockwise.</li>
                    </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="card cube-card">
            <div class="card-header">
                <h5 style="text-align: center;">Cube <b>After</b> Moves Made</h5>
            </div>
            <div class="card-body">
                <div class="view-cube-layout">
                    <!-- Top left blank space -->
                    <div class="view-cube-blank-face"></div>
                    <!-- Back (green centre) face -->
                    <div class="view-cube-face">
                            {% for square in squares[0:9] %}
                                <div id={{ square }} name={{ square }} class="{{ next_cube[square] }} view-cube-square">{{ next_cube[square][:1] }}</div>
                            {% endfor %}
                    </div>
                    <!-- Top right blank space -->
                    <div class="view-cube-blank-face"></div>
                    <!-- Left (orange centre) face: -->
                    <div class="view-cube-face">
                        {% for square in squares[9:18] %}
                                <div id={{ square }} name={{ square }} class="{{ next_cube[square] }} view-cube-square">{{ next_cube[square][:1] }}</div>
                        {% endfor %}
                    </div>
                    <!-- Top (Yellow centre) face: -->
                    <div class="view-cube-face">
                        {% for square in squares[18:27] %}
                                <div id={{ square }} name={{ square }} class="{{ next_cube[square] }} view-cube-square">{{ next_cube[square][:1] }}</div>
                        {% endfor %}
                    </div>
                    <!-- Right (red centre) face: -->
                    <div class="view-cube-face">
                        {% for square in squares[27:36] %}
                                <div id={{ square }} name={{ square }} class="{{ next_cube[square] }} view-cube-square">{{ next_cube[square][:1] }}</div>
                        {% endfor %}
                    </div>
                     <!-- Middle left blank space -->
                    <div class="view-cube-blank-face"></div>

                    <!-- Front (blue centre) face: -->
                    <div class="view-cube-face">
                        {% for square in squares[36:45] %}
                                <div id={{ square }} name={{ square }} class="{{ next_cube[square] }} view-cube-square">{{ next_cube[square][:1] }}</div>
                        {% endfor %}
                    </div>
                     <!-- Middle right blank space -->
                    <div class="view-cube-blank-face"></div>

                    <!-- Bottom left blank space -->
                    <div class="view-cube-blank-face"></div>
                    <!-- Bottom (white centre) face: -->
                    <div class="view-cube-face">
                        {% for square in squares[45:54] %}
                                <div id={{ square }} name={{ square }} class="{{ next_cube[square] }} view-cube-square">{{ next_cube[square][:1] }}</div>
                        {% endfor %}
                    </div>
                    <!-- Bottom right blank space -->
                    <div class="view-cube-blank-face"></div>
                </div>
             </div>
        </div>
    </div>
    <br/>
    
    <div class="row button-padding">
        <div class="col-sm">
            After making the moves (or if you've got lost along the way) if your cube does not look like the image on the right, click here to adjust this to suit your current cube:
        </div>
        <div class="col-xs-auto centre">
            <a href=amend><button style="width:180px;" class="btn btn-primary" type="button">Oops, Amend</button></a>
        </div>
    </div>
    <div class="row button-padding">
        <div class="col-sm">
            If your cube does match this, then please click here to continue to the next stage:
        </div>
        <div class="col-xs-auto centre">
            <a href=next_stage><button style="width:180px;" onclick="loading_on()" class="btn btn-primary" type="button">Correct, Continue</button></a>
        </div>
    </div>
    <div class="row button-padding">
        <div class="col-sm">
            Just for kicks, you can click here to make 100,000 random moves to see if the cube would accidentally be solved (hint: it won't!).
        </div>
        <div class="col-xs-auto centre">
            <a href=solve_randomly><button style="width:180px;" onclick="loading_on()" class="btn btn-primary" type="button">Make up to 100,000 random moves</button></a>
        </div>
    </div>
    <div class="row button-padding">
        <div class="col-sm">
            If you wish, you can calculate all the remaining moves in one (very long) list - this is not recommended:
        </div>
        <div class="col-xs-auto centre">
            <a href=solve_entirely><button style="width:180px;" onclick="loading_on()" class="btn btn-primary" type="button">Complete Solve List</button></a>
        </div>
    </div>




{% endblock %}
